In [1]:
from sqlalchemy import create_engine
import polars as pl
DATABASE_URL = 'postgresql+psycopg2://etl:etl@localhost:5432/etl'
db = create_engine(DATABASE_URL)
q = """SELECT 1"""
pl.read_database(q, db)

shape: (1, 1)
┌──────────┐
│ ?column? │
│ ---      │
│ i64      │
╞══════════╡
│ 1        │
└──────────┘

In [2]:
import psycopg2
import pandas as pd
import csv
import folium
from folium.plugins import MarkerCluster
import os

In [3]:
def normalize_chain_name(raw_name: str) -> str:
    if not isinstance(raw_name, str) or raw_name.strip() == "":
        return "unknown"

    s = raw_name.lower().strip().split(", ")
    first = s[0]
    return first

In [4]:
df = pd.read_csv('pharmacies.csv', dtype=str, encoding="cp1251")

df['lat'] = pd.to_numeric(df['lat'], errors='coerce')
df['lon'] = pd.to_numeric(df['lon'], errors='coerce')

df = df.drop(['created_at', 'type'], axis=1)

before_count = len(df)
df = df.dropna(subset=['lat', 'lon'])
after_count = len(df)
print(f"Строк в CSV: {before_count}, с валидными координатами: {after_count}")

df['name'] = df['name'].fillna("").apply(normalize_chain_name)

Строк в CSV: 6174, с валидными координатами: 6174

In [5]:
df

,id,name,address_name,lat,lon
0,70000001038506963,аптека №12,"посёлок гидроузла им. Куйбышева, 25",55.994620,36.817339
1,70000001056241084,"36,6","Сафонтьево деревня, 63",55.972297,36.822471
2,70000001029091588,аптека №11,"Северный посёлок, 6а",55.944409,36.839093
3,4504128908354161,горздрав,"улица Ленина, 80а",55.915070,36.860198
4,70000001077339309,мелодия здоровья,"площадь Революции, 6",55.915842,36.857969
...,...,...,...,...,...
6169,70000001067885971,здравсити,"улица Академика Северина, 9/2",55.621743,37.943814
6170,70000001055875739,горздрав,"улица Академика Северина, 7/1",55.622456,37.944582
6171,70000001069010911,горздрав,"улица Академика Северина, 9/2",55.621019,37.943828
6172,70000001087543725,здравсити,"улица Академика Северина, 13",55.619098,37.946061
6173,4504128908570978,ригла,"Парковая улица, 2",55.582524,37.912245

In [6]:
DB_NAME = "pharmacies_db"
DB_USER = "etl"
DB_PASS = "etl"
DB_HOST = "localhost"
DB_PORT = "5432"

In [40]:
conn = psycopg2.connect(dbname="etl", user=DB_USER, password=DB_PASS,
                        host=DB_HOST, port=DB_PORT)
conn.autocommit = True
cur = conn.cursor()

cur.execute(f"SELECT 1 FROM pg_database WHERE datname='{DB_NAME}';")
exists = cur.fetchone()
if not exists:
    cur.execute(f"CREATE DATABASE {DB_NAME};")
    print(f"База данных {DB_NAME} создана.")

cur.close()
conn.close()

conn = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASS,
                        host=DB_HOST, port=DB_PORT)
cur = conn.cursor()

cur.execute("""
    CREATE TABLE IF NOT EXISTS pharmacy (
        id TEXT PRIMARY KEY,
        name TEXT,
        address_name TEXT,
        lat DOUBLE PRECISION,
        lon DOUBLE PRECISION
    );
""")
conn.commit()
cur.close()
conn.close()
print("Таблица pharmacy готова.")

База данных pharmacies_db создана.
Таблица pharmacy готова.

In [43]:
def insert_pharmacy(rec):
    conn = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASS,
                            host=DB_HOST, port=DB_PORT)
    cur = conn.cursor()

    cur.execute("""
        INSERT INTO pharmacy (id, name, address_name, lat, lon)
        VALUES (%s,%s,%s,%s,%s)
        ON CONFLICT (id) DO UPDATE
            SET name = EXCLUDED.name,
                address_name = EXCLUDED.address_name,
                lat = EXCLUDED.lat,
                lon = EXCLUDED.lon;
    """, rec)

    conn.commit()
    cur.close()
    conn.close()

print(f"Загрузка {len(df)} записей в PostgreSQL...")
for _, row in df.iterrows():
    insert_pharmacy((
        row["id"],
        row["name"],
        row["address_name"],
        float(row["lat"]),
        float(row["lon"])
    ))
print("Загрузка завершена.")

Загрузка 6174 записей в PostgreSQL...
Загрузка завершена.

In [7]:
def get_top_chains(n=5):
    conn = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASS, host=DB_HOST, port=DB_PORT)
    cur = conn.cursor()
    cur.execute("""
        SELECT name, COUNT(*) AS cnt
        FROM pharmacy
        GROUP BY name
        ORDER BY cnt DESC
        LIMIT %s;
    """, (n,))
    rows = cur.fetchall()
    cur.close()
    conn.close()
    return rows

def get_pharmacies_of_chains(chains):
    if not chains:
        return []
    conn = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASS, host=DB_HOST, port=DB_PORT)
    cur = conn.cursor()
    cur.execute("""
        SELECT id, name, address_name, lat, lon
        FROM pharmacy
        WHERE name = ANY(%s)
    """, (chains,))
    rows = cur.fetchall()
    cur.close()
    conn.close()
    return rows

top5 = get_top_chains()
print("Топ-5 сетей:", top5)

Топ-5 сетей: [('горздрав', 900), ('столички', 586), ('здравсити', 540), ('планета здоровья', 489), ('ригла', 300)]

In [49]:
def generate_map(chains, out_html="top5_chains_map.html"):
    rows = get_pharmacies_of_chains(chains)
    if not rows:
        print("Нет данных для карты.")
        return

    lats = [r[3] for r in rows]
    lons = [r[4] for r in rows]
    center_lat = sum(lats) / len(lats)
    center_lon = sum(lons) / len(lons)

    m = folium.Map(location=[center_lat, center_lon], zoom_start=11)
    colors = ["red","blue","green","purple","orange","cadetblue","darkred"]
    color_map = {ch: colors[i % len(colors)] for i, ch in enumerate(chains)}

    clusters = {}
    for ch in chains:
        clusters[ch] = folium.plugins.MarkerCluster(name=f"{ch}").add_to(m)

    for r in rows:
        pid, name, addr, lat, lon = r
        popup = f"<b>{name}</b><br>{addr}"
        folium.Marker(location=[lat, lon],
               popup=popup,
               icon=folium.Icon(color=color_map.get(name, "gray"))
        ).add_to(clusters[name])

    legend_html = "<div style='position: fixed; bottom: 50px; left: 50px; z-index:9999; background:white; padding:8px; border:1px solid #ccc;'>"
    legend_html += "<b>Топ сетей</b><br/>"
    for ch in chains:
        legend_html += f"<div><span style='display:inline-block;width:12px;height:12px;background:{color_map.get(ch)};margin-right:6px;'></span>{ch}</div>"
    legend_html += "</div>"
    m.get_root().html.add_child(folium.Element(legend_html))

    from folium import LayerControl
    LayerControl(collapsed=False).add_to(m)

    m.save(out_html)
    print(f"Карта сохранена: {out_html}")

chains = [r[0] for r in top5]
generate_map(chains)

Карта сохранена: top5_chains_map.html

In [8]:
df = pd.read_csv('subways.csv', dtype=str, encoding="cp1251")

df['lat'] = pd.to_numeric(df['lat'], errors='coerce')
df['lon'] = pd.to_numeric(df['lon'], errors='coerce')

df = df.drop(['full_name', 'inner_id', 'route_type', 'type', 'subtype', 'created_at'], axis=1)

before_count = len(df)
df = df.dropna(subset=['lat', 'lon'])
after_count = len(df)
print(f"Строк в CSV: {before_count}, с валидными координатами: {after_count}")

Строк в CSV: 272, с валидными координатами: 272

In [9]:
df

                    id    color              name        lat        lon
0    70030076182844294  #E90101          Прокшино  55.586458  37.433136
1    70030076659568846  #FFDF05           Пыхтино  55.624610  37.296018
2    70030076659569280  #FFDF05  Аэропорт Внуково  55.607023  37.287762
3     4504385606392735  #0064AF   Пятницкое шоссе  55.856355  37.354362
4     4504385606389562  #0064AF            Митино  55.845769  37.362258
..                 ...      ...               ...        ...        ...
267  70030076202374455  #E13B8F     Юго-Восточная  55.705029  37.819024
268  70030076180130124  #E13B8F            Косино  55.703374  37.851182
269   4504385606392077  #FFDF05        Новокосино  55.745125  37.863993
270   4504385641834726  #9B007F        Котельники  55.674406  37.858151
271   4504385606394114  #9B007F          Жулебино  55.685265  37.856130

[272 rows x 5 columns]

In [53]:
conn = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASS,
                        host=DB_HOST, port=DB_PORT)
cur = conn.cursor()

cur.execute("""
    CREATE TABLE IF NOT EXISTS subway (
        id TEXT PRIMARY KEY,
        color TEXT,
        name TEXT,
        lat DOUBLE PRECISION,
        lon DOUBLE PRECISION
    );
""")
conn.commit()
cur.close()
conn.close()
print("Таблица subway готова.")

Таблица subway готова.

In [54]:
def insert_subway(rec):
    conn = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASS,
                            host=DB_HOST, port=DB_PORT)
    cur = conn.cursor()

    cur.execute("""
        INSERT INTO subway (id, color, name, lat, lon)
        VALUES (%s,%s,%s,%s,%s)
        ON CONFLICT (id) DO UPDATE
            SET color = EXCLUDED.color,
                name = EXCLUDED.name,
                lat = EXCLUDED.lat,
                lon = EXCLUDED.lon;
    """, rec)

    conn.commit()
    cur.close()
    conn.close()

print(f"Загрузка {len(df)} записей в PostgreSQL...")
for _, row in df.iterrows():
    insert_subway((
        row["id"],
        row["color"],
        row["name"],
        float(row["lat"]),
        float(row["lon"])
    ))
print("Загрузка завершена.")

Загрузка 272 записей в PostgreSQL...
Загрузка завершена.

In [10]:
import math

def haversine_meters(lat1: float, lon1: float, lat2: float, lon2: float) -> float:
    R = 6371000.0
    phi1 = math.radians(lat1)
    phi2 = math.radians(lat2)
    dphi = math.radians(lat2 - lat1)
    dlambda = math.radians(lon2 - lon1)
    a = math.sin(dphi / 2.0) ** 2 + math.cos(phi1) * math.cos(phi2) * math.sin(dlambda / 2.0) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    return R * c

def bbox_for_radius(lat: float, lon: float, radius_m: float) -> Tuple[float, float, float, float]:
    meter_per_degree_lat = 111320.0
    delta_lat = radius_m / meter_per_degree_lat
    cos_lat = max(0.000001, math.cos(math.radians(lat)))
    delta_lon = radius_m / (meter_per_degree_lat * cos_lat)
    return (lat - delta_lat, lat + delta_lat, lon - delta_lon, lon + delta_lon)  

def load_pharmacies_from_db() -> pd.DataFrame:
    conn = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASS, host=DB_HOST, port=DB_PORT)
    try:
        df = pd.read_sql("SELECT id, name, address_name, lat, lon FROM pharmacy;", conn)
        df["lat"] = pd.to_numeric(df["lat"], errors="coerce")
        df["lon"] = pd.to_numeric(df["lon"], errors="coerce")
        return df
    finally:
        conn.close()

In [12]:
SEARCH_RADIUS_M = 800.0

WALKING_SPEED_M_PER_MIN = 5000.0 / 60.0

def find_nearest_pharmacies_for_all(metro_df: pd.DataFrame, pharmacies_df: pd.DataFrame,
                                    radius_m: float = SEARCH_RADIUS_M) -> pd.DataFrame:
    results = []

    pharm = pharmacies_df.copy().reset_index(drop=True)

    for _, s in metro_df.iterrows():
        sid = s["id"]
        sname = s.get("name")
        slat = float(s["lat"])
        slon = float(s["lon"])

        min_lat, max_lat, min_lon, max_lon = bbox_for_radius(slat, slon, radius_m)
        candidate_mask = (pharm["lat"] >= min_lat) & (pharm["lat"] <= max_lat) & \
                         (pharm["lon"] >= min_lon) & (pharm["lon"] <= max_lon)
        candidates = pharm[candidate_mask]

        if candidates.empty:
            results.append({
                "station_id": sid,
                "station_name": sname,
                "station_lat": slat,
                "station_lon": slon,
                "nearest_pharmacy_id": None,
                "nearest_pharmacy_name": None,
                "nearest_pharmacy_address": None,
                "distance_m": float("nan"),
                "walking_min": float("nan"),
                "found_count": 0
            })
            continue

        distances = candidates.apply(lambda r: haversine_meters(slat, slon, float(r["lat"]), float(r["lon"])), axis=1)
        candidates = candidates.assign(distance_m=distances)
        within = candidates[candidates["distance_m"] <= radius_m].copy()

        if within.empty:
            results.append({
                "station_id": sid,
                "station_name": sname,
                "station_lat": slat,
                "station_lon": slon,
                "nearest_pharmacy_id": None,
                "nearest_pharmacy_name": None,
                "nearest_pharmacy_address": None,
                "distance_m": float("nan"),
                "walking_min": float("nan"),
                "found_count": 0
            })
            continue

        best = within.sort_values("distance_m").iloc[0]
        dist_m = float(best["distance_m"])
        walk_min = dist_m / WALKING_SPEED_M_PER_MIN

        results.append({
            "station_id": sid,
            "station_name": sname,
            "station_lat": slat,
            "station_lon": slon,
            "nearest_pharmacy_id": best["id"],
            "nearest_pharmacy_name": best["name"],
            "nearest_pharmacy_address": best["address_name"],
            "distance_m": round(dist_m, 1),
            "walking_min": round(walk_min, 1),
            "found_count": int(len(within))
        })

    return pd.DataFrame(results)

metro_df = df

pharmacies_df = load_pharmacies_from_db()
print(f"Загружено аптек из БД: {len(pharmacies_df)}")

results_df = find_nearest_pharmacies_for_all(metro_df, pharmacies_df, radius_m=SEARCH_RADIUS_M)

C:\Users\admin\AppData\Local\Temp\ipykernel_20332\2223463984.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT id, name, address_name, lat, lon FROM pharmacy;", conn)

Загружено аптек из БД: 6174

In [13]:
results_df

,station_id,station_name,station_lat,station_lon,nearest_pharmacy_id,nearest_pharmacy_name,nearest_pharmacy_address,distance_m,walking_min,found_count
0,70030076182844294,Прокшино,55.586458,37.433136,70000001101422531,вита экспресс,"Прокшинский проспект, 7",554.2,6.7,9
1,70030076659568846,Пыхтино,55.624610,37.296018,70000001025504860,планета здоровья,"улица Лётчика Грицевца, 4 к1",506.5,6.1,7
2,70030076659569280,Аэропорт Внуково,55.607023,37.287762,4504127916025821,неофарм,"Внуково аэропорт, терминал А",155.9,1.9,4
3,4504385606392735,Пятницкое шоссе,55.856355,37.354362,70000001020623606,горздрав,"Пятницкое шоссе, 39",176.7,2.1,11
4,4504385606389562,Митино,55.845769,37.362258,70000001025520322,здравсити,"Митинская улица, 36",58.5,0.7,24
...,...,...,...,...,...,...,...,...,...,...
267,70030076202374455,Юго-Восточная,55.705029,37.819024,70000001037313876,горздрав,"Ташкентская улица, 15/22",50.8,0.6,13
268,70030076180130124,Косино,55.703374,37.851182,70000001022242321,столички,"Лермонтовский проспект, 6",231.1,2.8,4
269,4504385606392077,Новокосино,55.745125,37.863993,70000001019479572,планета здоровья,"Южная улица, 19",104.3,1.3,13
270,4504385641834726,Котельники,55.674406,37.858151,70000001022757102,горздрав,"Новорязанское шоссе, 1а",213.9,2.6,6
271,4504385606394114,Жулебино,55.685265,37.856130,70000001045915144,неофарм,"улица Генерала Кузнецова, 22",165.7,2.0,17

In [14]:
results_df.to_csv('pharmacy_accessibility.csv', index=False)

In [64]:
conn = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASS,
                        host=DB_HOST, port=DB_PORT)
cur = conn.cursor()

cur.execute("""
    CREATE TABLE IF NOT EXISTS subway_pharmacy (
        id SERIAL PRIMARY KEY,
        station_id TEXT,
        station_name TEXT,
        station_lat DOUBLE PRECISION,
        station_lon DOUBLE PRECISION,
        pharmacy_id TEXT,
        pharmacy_name TEXT,
        pharmacy_address TEXT,
        distance_m DOUBLE PRECISION,
        walking_min DOUBLE PRECISION,
        found_count INTEGER
    );
""")
conn.commit()
cur.close()
conn.close()
print("Таблица subway_pharmacy готова.")

Таблица subway_pharmacy готова.

In [67]:
def insert_subway_pharmacy(rec):
    conn = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASS,
                            host=DB_HOST, port=DB_PORT)
    cur = conn.cursor()

    cur.execute("""
        INSERT INTO subway_pharmacy (station_id, station_name, 
        station_lat, station_lon, pharmacy_id, pharmacy_name, pharmacy_address,
        distance_m, walking_min, found_count)
        VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
    """, rec)

    conn.commit()
    cur.close()
    conn.close()

print(f"Загрузка {len(df)} записей в PostgreSQL...")
for _, row in results_df.iterrows():
    insert_subway_pharmacy((
        row["station_id"],
        row["station_name"],
        row["station_lat"],
        row["station_lon"],
        row["nearest_pharmacy_id"],
        row["nearest_pharmacy_name"],
        row["nearest_pharmacy_address"],
        row["distance_m"],
        row["walking_min"],
        row["found_count"]
    ))
print("Загрузка завершена.")

Загрузка 272 записей в PostgreSQL...
Загрузка завершена.

In [15]:
df = pd.read_csv('medical_institutions.csv', dtype=str, encoding="cp1251")

df['lat'] = pd.to_numeric(df['lat'], errors='coerce')
df['lon'] = pd.to_numeric(df['lon'], errors='coerce')

df = df.drop(['full_name', 'building_name', 'purpose_name', 'type', 'query_type', 'created_at'], axis=1)

before_count = len(df)
df = df.dropna(subset=['lat', 'lon'])
after_count = len(df)
print(f"Строк в CSV: {before_count}, с валидными координатами: {after_count}")

Строк в CSV: 966, с валидными координатами: 966

In [69]:
conn = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASS,
                        host=DB_HOST, port=DB_PORT)
cur = conn.cursor()

cur.execute("""
    CREATE TABLE IF NOT EXISTS hospitals (
        id TEXT PRIMARY KEY,
        name TEXT,
        address_name TEXT,
        lat DOUBLE PRECISION,
        lon DOUBLE PRECISION
    );
""")
conn.commit()
cur.close()
conn.close()
print("Таблица hospitals готова.")

Таблица hospitals готова.

In [73]:
def insert_subway_pharmacy(rec):
    conn = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASS,
                            host=DB_HOST, port=DB_PORT)
    cur = conn.cursor()

    cur.execute("""
        INSERT INTO hospitals (id, name, address_name, lat, lon)
        VALUES (%s,%s,%s,%s,%s)
        ON CONFLICT (id) DO UPDATE
            SET name = EXCLUDED.name,
                address_name = EXCLUDED.address_name,
                lat = EXCLUDED.lat,
                lon = EXCLUDED.lon;;
    """, rec)

    conn.commit()
    cur.close()
    conn.close()

print(f"Загрузка {len(df)} записей в PostgreSQL...")
for _, row in df.iterrows():
    insert_subway_pharmacy((
        row["id"],
        row["name"],
        row["address_name"],
        row["lat"],
        row["lon"]
    ))
print("Загрузка завершена.")

Загрузка 966 записей в PostgreSQL...
Загрузка завершена.

In [16]:
SEARCH_RADIUS_M = 800.0

MOSCOW_LAT_MIN = 55.489
MOSCOW_LAT_MAX = 55.917
MOSCOW_LON_MIN = 37.319
MOSCOW_LON_MAX = 37.945

RANDOM_SEED = 42

In [17]:
def count_pharmacies_near_points(points_df: pd.DataFrame, pharmacies_df: pd.DataFrame, radius_m: float) -> pd.DataFrame:
    results = []
    pharm = pharmacies_df.copy().reset_index(drop=True)

    for _, p in points_df.iterrows():
        pid = p.get("id", None)
        name = p.get("name", None)
        addr = p.get("address_name", None)
        plat = float(p["lat"])
        plon = float(p["lon"])

        min_lat, max_lat, min_lon, max_lon = bbox_for_radius(plat, plon, radius_m)
        candidate_mask = (pharm["lat"] >= min_lat) & (pharm["lat"] <= max_lat) & \
                         (pharm["lon"] >= min_lon) & (pharm["lon"] <= max_lon)
        candidates = pharm[candidate_mask]
        if candidates.empty:
            count = 0
        else:
            distances = candidates.apply(lambda r: haversine_meters(plat, plon, float(r["lat"]), float(r["lon"])), axis=1)
            count = int((distances <= radius_m).sum())

        results.append({
            "point_id": pid,
            "name": name,
            "address_name": addr,
            "lat": plat,
            "lon": plon,
            "pharmacy_count": count
        })

    return pd.DataFrame(results)

pharmacies_df = load_pharmacies_from_db()
print(f"Загружено аптек из БД: {len(pharmacies_df)}")

hospitals_points = df.reset_index(drop=True)
hosp_counts_df = count_pharmacies_near_points(hospitals_points.rename(columns={"id":"id", "name":"name","address_name":"address_name"}), pharmacies_df, SEARCH_RADIUS_M)
hosp_counts_insert = hosp_counts_df.rename(columns={"point_id":"point_id","name":"name","address_name":"address_name","lat":"lat","lon":"lon","pharmacy_count":"pharmacy_count"})

C:\Users\admin\AppData\Local\Temp\ipykernel_20332\2223463984.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT id, name, address_name, lat, lon FROM pharmacy;", conn)

Загружено аптек из БД: 6174

In [18]:
hosp_counts_insert.to_csv('pharmacy_accessibility2.csv', index=False)

In [19]:
mean_hosp = hosp_counts_df["pharmacy_count"].mean()
print(mean_hosp)

10.042443064182194

In [20]:
import random

def generate_random_points(count: int, lat_min: float, lat_max: float, lon_min: float, lon_max: float, seed: int = None) -> pd.DataFrame:
    if seed is not None:
        random.seed(seed)
    pts = []
    for i in range(count):
        lat = random.uniform(lat_min, lat_max)
        lon = random.uniform(lon_min, lon_max)
        pts.append({"point_idx": i, "lat": lat, "lon": lon})
    return pd.DataFrame(pts)

n_points = len(df)
random_points_df = generate_random_points(n_points, MOSCOW_LAT_MIN, MOSCOW_LAT_MAX, MOSCOW_LON_MIN, MOSCOW_LON_MAX, seed=RANDOM_SEED) 
random_points_df

     point_idx        lat        lon
0            0  55.762675  37.334657
1            1  55.606713  37.458730
2            2  55.804210  37.742614
3            3  55.870853  37.373424
4            4  55.669583  37.337653
..         ...        ...        ...
961        961  55.708670  37.604956
962        962  55.513711  37.608449
963        963  55.834360  37.771773
964        964  55.658466  37.830100
965        965  55.808204  37.681023

[966 rows x 3 columns]

In [21]:
random_counts_df = count_pharmacies_near_points(random_points_df, pharmacies_df, SEARCH_RADIUS_M)
random_counts_df

    point_id  name address_name        lat        lon  pharmacy_count
0       None  None         None  55.762675  37.334657               0
1       None  None         None  55.606713  37.458730               0
2       None  None         None  55.804210  37.742614               5
3       None  None         None  55.870853  37.373424               1
4       None  None         None  55.669583  37.337653               0
..       ...   ...          ...        ...        ...             ...
961     None  None         None  55.708670  37.604956               7
962     None  None         None  55.513711  37.608449               0
963     None  None         None  55.834360  37.771773               1
964     None  None         None  55.658466  37.830100               5
965     None  None         None  55.808204  37.681023               0

[966 rows x 6 columns]

In [22]:
random_counts_df.to_csv('random_points_accessibility.csv', index=False)

In [23]:
mean_random = random_counts_df["pharmacy_count"].mean() if not random_counts_df.empty else float("nan")
print(f"Среднее число аптек в радиусе {int(SEARCH_RADIUS_M)} м у случайных точек: {mean_random:.3f}")

Среднее число аптек в радиусе 800 м у случайных точек: 5.112

In [24]:
print(f"  Больниц: {len(df)}, среднее аптек возле больниц: {mean_hosp:.3f}")
print(f"  Случайных точек: {len(random_points_df)}, среднее аптек возле случайных точек: {mean_random:.3f}")

  Больниц: 966, среднее аптек возле больниц: 10.042
  Случайных точек: 966, среднее аптек возле случайных точек: 5.112